# Firebase (SOLO Authentication — ya no se usa Realtime Database)
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=invernadero-shiitake-iot.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=invernadero-shiitake-iot
NEXT_PUBLIC_FIREBASE_APP_ID=
